* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  background-image: url('desk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-color 0.3s;
  overflow-x: hidden;
}

header {
  background: linear-gradient(to right, #2f004e, #003553);
  color: #fff;
  padding: 10px;
  clip-path: fixed(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  transition: background-color 0.3s;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
}


h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.job-list {
  list-style: none;
  padding: 0;
}

.job-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  background-image: url('phone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.job-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.toggle-details {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.job-details {
  display: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.job-item:hover .job-details {
  display: block;
}

.apply-button a {
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.apply-button a:hover {
  background-color: #0056b3;
}

a {
  color: #4A90E2;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #357ABD;
}
.ascii-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 24px;
  pointer-events: none;
  z-index: -1;
}


